In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [2]:
#from  pandas_profiling  import ProfileReport
#profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)

In [3]:
df=pd.read_csv("IndianFoodDatasetCSV.csv")
pd.set_option('display.max_rows', 500)

In [4]:
df.drop(["RecipeName","Ingredients","Instructions"],axis=1,inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6871 entries, 0 to 6870
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Srno                    6871 non-null   int64
 1   TranslatedRecipeName    6871 non-null   object
 2   TranslatedIngredients   6865 non-null   object
 3   PrepTimeInMins          6871 non-null   int64
 4   CookTimeInMins          6871 non-null   int64
 5   TotalTimeInMins         6871 non-null   int64
 6   Servings                6871 non-null   int64
 7   Cuisine                 6871 non-null   object
 8   Course                  6871 non-null   object
 9   Diet                    6871 non-null   object
 10  TranslatedInstructions  6871 non-null   object
 11  URL                     6871 non-null   object
dtypes: int64(5), object(7)
memory usage: 644.3+ KB

In [6]:
df.describe()

,Srno,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings
count,6871.000000,6871.000000,6871.000000,6871.000000,6871.000000
mean,4902.979042,28.585213,30.832339,59.417552,5.611410
std,3479.531022,81.042007,34.019694,88.699940,26.221807
min,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1955.500000,10.000000,20.000000,30.000000,4.000000
50%,4304.000000,15.000000,30.000000,40.000000,4.000000
75%,7363.000000,20.000000,35.000000,55.000000,4.000000
max,14211.000000,2880.000000,900.000000,2925.000000,1000.000000

In [7]:
df.head()

,Srno,TranslatedRecipeName,TranslatedIngredients,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings,Cuisine,Course,Diet,TranslatedInstructions,URL
0,1,Masala Karela Recipe,"6 Karela (Bitter Gourd/ Pavakkai) - deseeded,S...",15,30,45,6,Indian,Side Dish,Diabetic Friendly,"To begin making theÂ Masala Karela Recipe,de-se...",https://www.archanaskitchen.com/masala-karela-...
1,2,Spicy Tomato Rice (Recipe),"2-1 / 2 cups rice - cooked, 3 tomatoes, 3 teas...",5,10,15,3,South Indian Recipes,Main Course,Vegetarian,"To make tomato puliogere, first cut the tomato...",http://www.archanaskitchen.com/spicy-tomato-ri...
2,3,Ragi Semiya Upma Recipe - Ragi Millet Vermicel...,"1-1/2 cups Rice Vermicelli Noodles (Thin),1 On...",20,30,50,4,South Indian Recipes,South Indian Breakfast,High Protein Vegetarian,"To begin making the Ragi Vermicelli Recipe, fi...",http://www.archanaskitchen.com/ragi-vermicelli...
3,4,Gongura Chicken Curry Recipe - Andhra Style Go...,"500 grams Chicken,2 Onion - chopped,1 Tomato -...",15,30,45,4,Andhra,Lunch,Non Vegeterian,To begin makingÂ Gongura Chicken Curry Recipe f...,http://www.archanaskitchen.com/gongura-chicken...
4,5,Andhra Style Alam Pachadi Recipe - Adrak Chutn...,"1 tablespoon chana dal, 1 tablespoon white ura...",10,20,30,4,Andhra,South Indian Breakfast,Vegetarian,"To make Andhra Style Alam Pachadi, first heat ...",https://www.archanaskitchen.com/andhra-style-a...

In [8]:
df["Cuisine"].value_counts()

Indian                      1157
Continental                 1021
North Indian Recipes         938
South Indian Recipes         682
Italian Recipes              236
Bengali Recipes              175
Maharashtrian Recipes        173
Kerala Recipes               163
Tamil Nadu                   156
Karnataka                    149
Fusion                       135
Rajasthani                   123
Mexican                      119
Andhra                       118
Gujarati Recipesï»¿            115
Goan Recipes                  99
Punjabi                       84
Chettinad                     74
Asian                         72
Thai                          66
Kashmiri                      59
Chinese                       59
French                        54
Middle Eastern                53
Mangalorean                   49
Parsi Recipes                 48
Indo Chinese                  48
Awadhi                        45
Oriya Recipes                 34
Sindhi                        33
Konkan                        32
Mughlai                       31
Bihari                        29
Mediterranean                 29
Assamese                      28
Hyderabadi                    28
European                      20
African                       18
Greek                         18
North East India Recipes      18
Himachal                      17
Sri Lankan                    15
Udupi                         15
Coorg                         14
North Karnataka               14
Uttar Pradesh                 14
Coastal Karnataka             14
Malabar                       13
Japanese                      13
Lucknowi                      13
South Karnataka               11
Pakistani                     11
Vietnamese                    11
Malvani                        9
Indonesian                     9
Nepalese                       8
Cantonese                      7
American                       7
World Breakfast                6
Sichuan                        6
Nagaland                       5
Malaysian                      5
British                        5
Uttarakhand-North Kumaon       4
Arab                           4
Caribbean                      4
Haryana                        3
Afghan                         3
Korean                         3
Hunan                          3
Kongunadu                      3
Jharkhand                      2
Appetizer                      2
Snack                          2
Side Dish                      1
Burmese                        1
Dinner                         1
Dessert                        1
Jewish                         1
Lunch                          1
Shandong                       1
Brunch                         1
Name: Cuisine, dtype: int64

In [9]:
df["Course"].value_counts()

Lunch                           1765
Side Dish                        992
Snack                            876
Dinner                           782
Dessert                          659
Appetizer                        639
Main Course                      315
South Indian Breakfast           260
World Breakfast                  260
North Indian Breakfast           123
Indian Breakfast                 101
Vegetarian                        47
One Pot Dish                      33
High Protein Vegetarian            7
Brunch                             4
Vegan                              3
Non Vegeterian                     2
Eggetarian                         1
Sugar Free Diet                    1
No Onion No Garlic (Sattvic)       1
Name: Course, dtype: int64

In [10]:
df["Diet"].value_counts()

Vegetarian                      4712
High Protein Vegetarian          705
Non Vegeterian                   427
Eggetarian                       344
Diabetic Friendly                260
High Protein Non Vegetarian      225
No Onion No Garlic (Sattvic)      73
Vegan                             61
Gluten Free                       50
Sugar Free Diet                   14
Name: Diet, dtype: int64

In [11]:
df.head()

,Srno,TranslatedRecipeName,TranslatedIngredients,PrepTimeInMins,CookTimeInMins,TotalTimeInMins,Servings,Cuisine,Course,Diet,TranslatedInstructions,URL
0,1,Masala Karela Recipe,"6 Karela (Bitter Gourd/ Pavakkai) - deseeded,S...",15,30,45,6,Indian,Side Dish,Diabetic Friendly,"To begin making theÂ Masala Karela Recipe,de-se...",https://www.archanaskitchen.com/masala-karela-...
1,2,Spicy Tomato Rice (Recipe),"2-1 / 2 cups rice - cooked, 3 tomatoes, 3 teas...",5,10,15,3,South Indian Recipes,Main Course,Vegetarian,"To make tomato puliogere, first cut the tomato...",http://www.archanaskitchen.com/spicy-tomato-ri...
2,3,Ragi Semiya Upma Recipe - Ragi Millet Vermicel...,"1-1/2 cups Rice Vermicelli Noodles (Thin),1 On...",20,30,50,4,South Indian Recipes,South Indian Breakfast,High Protein Vegetarian,"To begin making the Ragi Vermicelli Recipe, fi...",http://www.archanaskitchen.com/ragi-vermicelli...
3,4,Gongura Chicken Curry Recipe - Andhra Style Go...,"500 grams Chicken,2 Onion - chopped,1 Tomato -...",15,30,45,4,Andhra,Lunch,Non Vegeterian,To begin makingÂ Gongura Chicken Curry Recipe f...,http://www.archanaskitchen.com/gongura-chicken...
4,5,Andhra Style Alam Pachadi Recipe - Adrak Chutn...,"1 tablespoon chana dal, 1 tablespoon white ura...",10,20,30,4,Andhra,South Indian Breakfast,Vegetarian,"To make Andhra Style Alam Pachadi, first heat ...",https://www.archanaskitchen.com/andhra-style-a...

In [12]:
for i in range (1) :
    x=np.random.randint(0,high=6481)
    print(x)
    print(df.iloc[x,1])
    print("\n")
    print(df.iloc[x,2])
    print("\n")

3427
Omurice Recipe - Japanese Omelette Rice


1 cup Cooked rice,1 Onion - chopped,1 Chicken thigh - cleaned and cut to bite size,1 teaspoon Extra Virgin Olive Oil,1/2 cup Mixed vegetables - chopped (green bell pepper and red bell pepper are used here),1 teaspoon Soy sauce,1 tablespoon Red Chilli sauce,Salt - to taste,Black pepper powder - to taste,2 Whole Eggs,1 teaspoon Milk,1 teaspoon Extra Virgin Olive Oil,3 teaspoon Cheddar cheese - shredded,Roasted tomato pasta sauce - as needed

In [13]:
# There are some recipes  not translated.

"""
Plan 1:
1]find cosine similiarity between Ingredients and Recipes .(here ingredients must be cleaned but not one hot encoded)

2]Build a Recommender System .
For Building a recommender system we must have user logins.
their login details transferred to a db where we can use it collabirative Filtering recommender method to Recommend Productss

Plan2:
1]One hot encode ingredients 

"""

#If we Use Translated Ingredients to find the similiarity :
"""
Some Ingredients are not translated .

PreProcessing:
Remove Numbers.
Either do this :Remove everything in between brackets .
Make it as a Feature  as :
In brackets they are written in our common terms .We can use that as Ingredients in app itself.
Remove word Teaspoon,Teaspoons,cup,cups,chopped,washed,sliced,finely,few
remove symbols like "-","to taste","as needed ","shredded"
"""

'\nSome Ingredients are not translated .\n\nPreProcessing:\nRemove Numbers.\nEither do this :Remove everything in between brackets .\nMake it as a Feature  as :\nIn brackets they are written in our common terms .We can use that as Ingredients in app itself.\nRemove word Teaspoon,Teaspoons,cup,cups,chopped,washed,sliced,finely,few\n'

In [14]:
df.loc[1,"URL"]

'http://www.archanaskitchen.com/spicy-tomato-rice-recipe-in-hindi'

## Choosing Algo to find Similiarity

In [33]:
from  textdistance import sorensen,jaccard
import  fuzzywuzzy.fuzz as fuzz

In [40]:
x="Cooked rice,Onion ,Chicken thigh  and cut to bite size, Extra Virgin Olive Oil, Mixed vegetables  (green bell pepper and red bell pepper are used here), Soy sauce,Red Chilli sauce,Salt ,Black pepper powder,Eggs, Milk, Extra Virgin Olive Oil, Cheddar cheese,Roasted tomato pasta sauce "
y="Cooked rice,Onion ,Chicken thigh, Extra Virgin Olive Oil, Mixed vegetables, Soy sauce, Red Chilli sauce,Salt ,Black pepper powder - to taste,Eggs, Milk,Extra Virgin Olive Oil,Cheddar cheese - shredded,Roasted tomato pasta sauce"
z="Cooked rice,Onion ,Chicken thigh, Extra Virgin Olive Oil, Mixed vegetables, Soy sauce"

In [41]:
x=x.split(",")
y=y.split(",")
z=z.split(",")

In [44]:
print(sorensen(z,y))
print("\n {}".format(jaccard(z,y)))
print(fuzz.token_set_ratio(y,z))
fuzz.partial_ratio(y,z)

0.6

 0.42857142857142855

99

In [45]:
print(sorensen(x,y))
print("\n {}".format(jaccard(x,y)))
print(fuzz.token_set_ratio(x,y))
print(fuzz.partial_ratio(x,y))

0.5

 0.3333333333333333
96
78

In [34]:
t1="rice,wheat,egg"
t2="wheat,egg"
t1=t1.split(",")
t2=t2.split(",")
print(sorensen(t1,t2))
print("\n {}".format(jaccard(t1,t2)))
fuzz.token_set_ratio(t1,t2)

0.8

 0.6666666666666666

100